global
  log 127.0.0.1:514 local4

defaults
  mode http
  timeout connect 5s
  timeout client  5s
  timeout server  10m

frontend proxy
  # listen on 4000
  bind 0.0.0.0:4000

  # allow for many connections, with long timeout
  maxconn 200000 # total maximum connections, check ulimit as well
  timeout client 24h

  # default to webapp backend
  default_backend webapp

  # is this restricted to interactive data?
  acl network_allowed src 10.0.0.0/8
  acl network_allowed src 198.183.140.0/22
  acl restricted_page path_beg -i /dataloader
  acl restricted_page path_beg -i /jobscheduler
  acl restricted_page path_beg -i /tradeblotter/
  # block if restricted_page !network_allowed

  # is this a socket io request?
  acl is_websocket path_beg /socket.io
  acl is_websocket path /nodecheck
  acl is_websocket hdr(Upgrade) -i WebSocket AND hdr_beg(Host) -i ws
  use_backend websocket if is_websocket

backend webapp
  balance roundrobin # assuming that you don't need stickiness
  # options
  option forwardfor # add X-Forwarded-For
  # allow client connections to linger for 5s
  # but close server side requests to avoid keeping idle connections
  option http-server-close
  server php1 localhost:82 check

backend websocket
  balance source # balance based on source IP

  # options
  option forwardfor # add X-Forwarded-For

  # Do not use httpclose (= client and server
  # connections get closed), since it will close
  # Websockets connections
  no option httpclose

  # Use "option http-server-close" to preserve
  # client persistent connections while handling
  # every incoming request individually, dispatching
  # them one after another to servers, in HTTP close mode
  option http-server-close
  option forceclose

  # timeouts are long
  timeout queue 5s
  timeout server 24h
  timeout connect 24h
  # just one node server at :1337
  server node1 localhost:1337 check
  #server node1 vntgdev1-lnx.intdata.com:1338 check

listen admin
  bind *:8080
  stats enable
  stats uri /
  stats realm Stats
